.container a{
  color: black;
}

#unis, #lab {
  color:black;
  font-family: 'Fjalla One', serif;
  font: bold;
  font-size: 28px;
}

body p{
color: black;
font-family: 'Fjalla One', 'serif';
font-size: 18px;
font: bold;
}

#whatever{
  color: black;
  font-family: 'Fjalla One', 'serif';
  font: bold;
  font-size: 20px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #063df5;
}

.material-icons{
  color: #000000;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #063df5;
}

footer.page-footer {
  margin: 0;
}

.container img {
  width: 50%;
  height: auto;
}


nav a{
  align-content: center;
}

ul li a{
  margin: 0px;
  padding: 10px 10px; display:inline-block;
}

.brand-logo img{
  width: auto;
  height: 50px;
}

#logoEmpresa{
  width: auto;
  height: 50px;
}

.imgDiv{
  background: white;
}

.img-bigbig{
  max-width: 100%;
  max-height: 100%;
  width: 60%;
  height: 70%;
  margin-bottom: 0px;
}



.img-bolas{
  max-width: 100%;
  max-height: 100%;
  width: 85%;
  height: 80%;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.pequeno{
  display: none;
}
.padrao{
  display: block;
}

.mainBody{
  background-image: url("images/1080.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
 background-color: #cccccc;
 
}

@media screen and (max-width: 1000px){
  .img-bolas{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.pequeno{
  display: block;
}
.padrao{
  display: none;
}
}

.navbar {
  background-image: linear-gradient(to right, rgba(255,0,0,0), #2E5894);
}


#logoEmpresa{
  height: 35%;
  width: 35%;
}

.icons {
  font-size: 5em;
  color: #000000;
}

.h2Adp{
 font-size: 30px;
}

.h3Adp{
  font-size: 25px;
 }



.form-control {
  border: 0;
}
#logoEmpresa{
  width: auto;
  height: 12em;
}

.myFooter{
  height: 2em;
  background: #3399FF;
  
}
.footerText{
  font-size: 0.8em;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px; /* Margin bottom by footer height */
}

.text-front{
  color: white;
  font-family: 'Fjalla One', 'serif';
  font-size: 1.2em;
  justify-content:center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  
}

.text-frontE{
  color: white;
  font-family: 'Fjalla One', 'serif';
  font-size: 1.5em;
  justify-content:center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.texting{
  font-size: 90%;
}


/* #mainBody{
  background-image: url("images/almost-there.jpg");
  background-color: #cccccc;
} */

/* Breathing bellow */
#breathing-button {
  /* width: 270px;
  padding: 20px; */
  margin: 5px auto;
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
  font-size: 54px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  border-radius: 10px;
  text-align: center;    
  }

  


@-webkit-keyframes breathing {
0% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

25% {
  -webkit-transform: scale(1);
  transform: scale(1);
}

60% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

100% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
}

@keyframes breathing {
0% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

25% {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

60% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

100% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
}
