.container a{
  color: black;
}

#unis, #lab {
  color:black;
  font-family: 'Fjalla One', serif;
  font: bold;
  font-size: 28px;
}

body p{
color: black;
font-family: 'Fjalla One', 'serif';
font-size: 20px;
font: bold;
}

#whatever{
  color: black;
  font-family: 'Fjalla One', 'serif';
  font: bold;
  font-size: 20px;
}

p {
  line-height: 3rem;
}

.sidenav-trigger {
  color: #063df5;
}

.material-icons{
  color: #063df5;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #063df5;
}

footer.page-footer {
  margin: 0;
}

.container img {
  width: 80%;
  height: auto;
}


nav a{
  align-content: center;
}

ul li a{
  margin: 0px;
  padding: 10px 10px; display:inline-block;
}

.brand-logo img{
  width: auto;
  height: 50px;
}

#logoEmpresa{
  width: auto;
  height: 50px;
}


.img-bigbig{
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  height: 80%;
}

.navbar {
  background-image: linear-gradient(to right, rgba(255,0,0,0), #2E5894);
}


#logoEmpresa{
  height: 35%;
  width: 35%;
}

.icons {
  font-size: 5em;
  color: #2E5894;
}

.h2Adp{
 font-size: 30px;
}

 .mainBody{
   background-image: url("images/almost-there.jpg");
  background-color: #cccccc;
  overflow: hidden;
 }

.form-control {
  border: 0;
}
#logoEmpresa{
  width: auto;
  height: 10em;
}

.myFooter{
  height: 2em;
  background: #3399FF;
}
.footerText{
  font-size: 0.8em;
}

/* #mainBody{
  background-image: url("images/almost-there.jpg");
  background-color: #cccccc;
} */