.container a{
  color: black;
}

#unis, #lab {
  color:black;
  font-family: 'Fjalla One', serif;
  font: bold;
  font-size: 28px;
}

body p{
color: black;
font-family: 'Fjalla One', 'serif';
font-size: 18px;
font: bold;
}

#whatever{
  color: black;
  font-family: 'Fjalla One', 'serif';
  font: bold;
  font-size: 20px;
}

p {
  line-height: 3rem;
}

.sidenav-trigger {
  color: #063df5;
}

footer{
  background: lightblue;
  margin: auto;
  
}

.inFoot{
  list-style-type: none; 
  margin: 2px, 2px, 2px, 2px;
}

svg{
  fill:red ;
}

.material-icons{
  color: #063df5;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #063df5;
}

footer.page-footer {
  margin: 0;
}

.container img {
  width: 80%;
  height: auto;
}

#skypeLogo{
 size: 80px;
}

nav a{
  align-content: center;
}

ul li a{
  margin: 0px;
  padding: 10px 10px; display:inline-block;
}

.brand-logo img {
  width: auto;
  height: 50px;
}

body{
  background: url(images/backGround4k.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: false;
}

.img-bigbig{
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  height: 80%;
}

.navbar {
  background:transparent;
}

.anotherBckp{
  height: 100%;
  background: linear-gradient(to right, white, grey);
}

.contsBckp{
  background: url(images/fabricaFrente.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

#logoEmpresa{
  height: 35%;
  width: 35%;
}

.icons {
  font-size: 5em;
  color: #2E5894;
}

.h2Adp{
 font-size: 20px;
}

.mainBody{
  overflow: hidden;
}